@import 'fonts.css';

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'dmsans';
    font-weight: 400;
}


*::before,
*::after{
  font-family: 'icons';
}
.f300{font-weight: 300;}
.icon-search::before{
    content: '\f002';
}
.icon-settings::before{
    content: '\f013';
}
.icon-heart::before{
    content: '\f004';
}
.icon-sale-heart::before{
    content: '\f004';
}
.icon-shop::before{
    content: '\f290';
}
/* navbar */
.navbar{
    margin: 46px 0 33px 0;
}
.navbar__nav{
    gap: 40px;
}
.navbar__nav a{
    color: #333333;
    font-family: 'dmsans';
    font-size: 18px;
    line-height: 23px;
}
.navbar__nav a:hover{
    font-family: 'dmsans';
    font-weight: 500;
}
.navbar__icons{
    gap: 11px;
}
.navbar__icons a{
    color: #7C7C7C;
}
.icon-shop{
    position: relative;
}
.icon-shop span{
    font-size: 8px;
    line-height: 10px;
    position: absolute;
    top: 0;
    left: 1;
    padding: 1px 2px;
    border-radius: 50%;
    background: #111111;
}
.icon-search:hover{
    color: red;
    width: 18px;
    height: 18px;
}
.icon-shop:hover{
    color: red;
    width: 18px;
    height: 18px;
}
.icon-heart:hover{
    color: red;
    width: 18px;
    height: 18px;
}
.icon-settings:hover{
    color: red;
    width: 18px;
    height: 18px;
}
/* cards */
.cards{
    margin-top: 45px;
}
.card1__content{
    background: url('../images/item__img-1.png') no-repeat center / cover;
    background-color: #EFF1F3;
    height: 524px;
}
.card2__content{
    background: url('../images/item__img-2.png') no-repeat center / cover;
    background-color: #EFF1F3;
    height: 524px;
}
.card3__content{
    background: url('../images/item__img-3.png') no-repeat center / cover;
    background-color: #EFF1F3;
    height: 416px;
}
.card4__content{
    background: url('../images/item__img-4.png') no-repeat center / cover;
    background-color: #EFF1F3;
    height: 416px;
}
.card__content--text{
    width: 353px;
    height: 188px;
    background: #FFFFFF;
    margin-bottom: 23px;
}
.card__content--text p{
    color: #1B1B1B;
    font-family: 'montserrat';
    font-weight: 600;
    font-size: 28px;
    line-height: 26px;
}
.card__content--text span{
    color: #222222;
    font-size: 20px;
    line-height: 26px;
    margin-top: 16px;
    margin-bottom: 20px;
}
.card__content--text a{
    color: #FFFFFF;
    font-family: 'dmsans';
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    background: #111111;
    padding: 11px 40px;
}
/* tab content */
.news-tabs{
    margin-top: 130px;
}
.news-tabs h2{
    color: #000000;
    font-family: 'montserrat';
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    margin-bottom: 30px;
}
.tabcontent{
    display: none;
}
.tabcontent.active{
    display: block;
}
.tabs__item.active{
    color: red;
}
.tabs__items{
    gap: 40px;
    justify-content: center;
    padding-bottom: 24px;
}

.tabs__item{
    cursor: pointer;
    color: #686060;
    font-family: 'poppins';
    font-size: 24px;
    line-height: 26px;
    margin: 0;
    letter-spacing: 2%;
}
.tabs__item:hover{
    color: #E32C37;
    font-weight: 600;
    font-family: 'poppins';
}

.sale{
    position: relative;
}
.sale p{
    position: absolute;
    color: #FFFFFF;
    font-family: 'poppins';
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0.26px;
    padding: 3px 1.5px;
    background: #E32C37;
    top: 0;
    left: 0;
    cursor: pointer;
}
.sale p:hover{
    padding: 6px 3px;
    font-size: 18px;
}
.mesto{
    position: absolute;
}
.icon-sale-heart{
    padding: 8px 7px;
    background: #FFFFFF;
    border-radius: 50%;
    top: 29px;
    right: 10px;
    color: red;
    cursor: pointer;
}
.icon-sale-heart:hover{
    background: red;
    color: #FFFFFF;
    font-size: 18px;
}

.sale_text p{
    color: #444444;
    font-size: 18px;
    line-height: 23px;
    margin-top: 16px;
    margin-bottom: 10px;
}
.sale_text span{
    color: #F88787;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}
.hot{
    position: relative;
}
.hot p{
    position: absolute;
    color: #FFFFFF;
    font-family: 'poppins';
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0.26px;
    padding: 3px 1px;
    background: #E9A400;
    top: 0;
    left: 0;
    cursor: pointer;
}
.hot p:hover{
    padding: 6px 3px;
    font-size: 18px;
}
.hot_text p{
    color: #444444;
    font-size: 18px;
    line-height: 23px;
    margin-top: 16px;
    margin-bottom: 10px;
}
.hot_text span{
    color: #444444;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}
.just{
    position: relative;
}
.just_text p{
    color: #444444;
    font-size: 18px;
    line-height: 23px;
    margin-top: 16px;
    margin-bottom: 10px;
}

.ju_text span{
    color: #444444;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}
.sold-out{
    position: relative;
}
.sold-out p{
    position: absolute;
    color: #FFFFFF;
    font-family: 'poppins';
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0.26px;
    padding: 3px 1px;
    background: #000000;
    top: 0;
    left: 0;
    cursor: pointer; 
}
.sold-out p:hover{
    padding: 6px 3px;
    font-size: 18px;
}
.sold-out_text p{
    color: #444444;
    font-size: 18px;
    line-height: 23px;
    margin-top: 16px;
    margin-bottom: 10px;
}
.sold-out_text span{
    color: #444444;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}
/*  sale items */
.items{
    margin-top: 130px;
}
.item{
    background: #F0F0F0;
}
.item__text{
    margin-left: 40px;
}
.item__text p{
    font-size: 20px;
    line-height: 26px;
    color: #000000;
}
.item__text h5{
    font-family: 'montserrat';
    font-weight: 600;
    color: #000000;
    font-size: 20px;
    line-height: 24px;
    margin-top: 14px;
    margin-bottom: 40px;
}
.item__text a{
    font-weight: 700;
    color: #000000;
    font-size: 16px;
    line-height: 20px;
}
.item__text span{
    font-weight: 700;
    color: #000000;
    font-size: 16px;
    line-height: 20px;
    border-bottom: 1px solid #484849;
}
/* banner */
.swiper-slide{
    background: #CFDEE2;
}
.banner__text h1{
    width: 100%;
    max-width: 623px;
    color: #000000;
    font-family: 'montserrat';
    font-weight: 600;
    font-size: 56px;
    line-height: 69px;
}
.banner__text p{
    color: #000000;
    font-size: 20px;
    line-height: 26px;
}

      .swiper {
        width: 100%;
        height: 100%;
      }

      .swiper-slide {

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        /* object-fit: cover; */
        max-width: 535px;
      }
/* arrivals */

